/* import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: "Roboto", sans-serif;
}

html {
	background-color: #222222;
	color: #eeeeee;
}

body {
	margin: 0;
	padding: 0;
}

#top-bar ul {
	list-style: none;
	background-color: #666666;
	margin: 0;
	padding-left: 1rem;
}

#top-bar li {
	display: inline;
}

#midscreen-list {
	margin: 50;
	padding-left: 30rem;
	padding-right: 30rem;
}

#midscreen-list li {
	margin: 10;
}

p, h1, h2, h3, h4, h5, h6, ul, iframe {
	text-align: center;
}


a:link, a:visited {
	color: #743292;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	color: #d5c2ef;
	text-decoration: underline;
}

#top-bar a:hover{
	margin: 10;
}